{{- range $team := .Values.teams }}
{{- if $team.multiStageKargoAppSet }}
apiVersion: argoproj.io/v1alpha1
kind: ApplicationSet
metadata:
  name: {{ $team.name }}-appset
  namespace: adn-{{ .name }}
spec:
  goTemplate: true
  goTemplateOptions: ["missingkey=error"]
  generators:
  - scmProvider:
      cloneProtocol: https
      {{- with $team.multiStageKargoAppSet.gitlab }}
      gitlab:
        group: {{ .group }}
        api: {{ .api }}
        tokenRef:
          secretName: {{ $team.name }}-appset-github-token
          key: token
      {{- end }}
      {{- with $team.multiStageKargoAppSet.github }}
      github:
        # Support both organization and user accounts
        # For organizations, use 'organization' field
        # For user accounts, use 'user' field (will fall back to organization field)
        # IMPORTANT: ArgoCD SCM Provider only supports GitHub organizations, not user accounts
        # For user accounts, it will try /orgs/{user}/repos which returns 404
        # Workaround: Use 'user' field and the SCM provider will attempt it (may fail)
        # Better solution: Use appOfAppsRepo with Git generator (see appset-scm-multi-stage-kargo-user.yaml)
        {{- if .organization }}
        organization: {{ .organization }}
        {{- else if .user }}
        # For user accounts: ArgoCD will try /orgs/{user}/repos which doesn't work
        # This is a known limitation - consider using appOfAppsRepo pattern instead
        organization: {{ .user }}
        {{- end }}
        tokenRef:
          secretName: {{ $team.name }}-appset-github-token
          key: token
      {{- end }}
      filters:
      - repositoryMatch: ^{{ $team.name }}
        pathsExist: [app-stages.yaml]
      requeueAfterSeconds: {{ $.Values.scmAppsetRequeueAfterSeconds }}
  template:
    metadata:
      name: '{{`{{ .repository }}`}}'
      finalizers:
      - resources-finalizer.argocd.argoproj.io
    spec:
      project: {{ $team.name }}-project
      sources:
      - repoURL: {{ $.Values.multiStageKargoAppSetHelmRepo }}
        targetRevision: '{{ $.Values.default.targetRevision }}'
        path: team-apps/onboarding-apps-charts/multi-stage-app-with-kargo-pipeline
        helm:
          valueFiles:
          - $values/app-stages.yaml
      - repoURL: '{{`{{ .url }}`}}'
        targetRevision: main
        ref: values
      destination:
        server: https://kubernetes.default.svc
        namespace: adn-{{ .name }}
      syncPolicy:
        automated:
          selfHeal: true
          prune: true
---
{{- end }}
{{- end }}
